
<div>
    <img height="100px" width="100px" src="https://freesvg.org/img/vote.png" />
</div>
<h2>IEBC voting site </h2>
<div class="section">
    <h4>Voting Deadline</h4>
    <!-- <p>{{ votingDeadline | date:'fullDate' }}</p> -->
  </div>
<mat-tab-group>
    <mat-tab label="Home"> 
        <mat-tab-group>
            <mat-tab label="Voters management">
              <div class="section">
                <h2>Voters</h2>
                <ul>
                  <!-- <li *ngFor="let voter of voters">{{ voter }}</li> -->
                </ul>
              </div>
            </mat-tab>
            <mat-tab label="List of Candidates">
              <div class="section">
                <h2>Candidates</h2>
                <ul>
                  <!-- <li *ngFor="let option of voteOptions"> -->
                    <!-- <span>{{ option.name }}</span>
                    <button mat-button >Vote</button>
                  </li> -->
                </ul>
              </div>
            </mat-tab>
          </mat-tab-group>
    </mat-tab>
    <mat-tab label="Vote"> 
        <app-votes></app-votes>
    </mat-tab>
    <mat-tab label="Results"> 
        <app-results></app-results>
    </mat-tab>
  </mat-tab-group>
  