<div class="voterForm">
    <form [formGroup]="voterForm" (submit)="registerVoter()">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" formControlName="name" placeholder="Enter name" />
          <div *ngIf="voterForm.get('name')?.invalid && (voterForm.get('name')?.dirty || voterForm.get('name')?.touched)">
            <div *ngIf="voterForm.get('name')?.errors?.['required']">Name is required.</div>
            <div *ngIf="voterForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</div>
          </div>
        </div>
      
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" placeholder="Enter email" />
          <div *ngIf="voterForm.get('email')?.invalid && (voterForm.get('email')?.dirty || voterForm.get('email')?.touched)">
            <div *ngIf="voterForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="voterForm.get('email')?.errors?.['email']">Enter a valid email.</div>
          </div>
        </div>
      
        <div class="form-group">
          <label for="phone">Phone</label>
          <input id="phone" formControlName="phone" placeholder="Enter phone number" />
          <div *ngIf="voterForm.get('phone')?.invalid && (voterForm.get('phone')?.dirty || voterForm.get('phone')?.touched)">
            <div *ngIf="voterForm.get('phone')?.errors?.['required']">Phone number is required.</div>
            <div *ngIf="voterForm.get('phone')?.errors?.['pattern']">Phone number must be 10 digits.</div>
          </div>
        </div>

        <div class="form-group">
            <label for="phone">National ID</label>
            <input id="phone" formControlName="id_number" placeholder="Enter Identification number" />
            <div *ngIf="voterForm.get('id_number')?.invalid && (voterForm.get('id_number')?.dirty || voterForm.get('id_number')?.touched)">
              <div *ngIf="voterForm.get('id_number')?.errors?.['required']">ID number number is required.</div>
              <div *ngIf="voterForm.get('id_number')?.errors?.['pattern']">ID number must be 10 digits.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Nationality</label>
            <input id="name" formControlName="nationality" placeholder="Enter nationality" />
            <div *ngIf="voterForm.get('nationality')?.invalid && (voterForm.get('nationality')?.dirty || voterForm.get('nationality')?.touched)">
              <div *ngIf="voterForm.get('nationality')?.errors?.['required']">Name is required.</div>
              <div *ngIf="voterForm.get('nationality')?.errors?.['minlength']">Name must be at least 3 characters long.</div>
            </div>
          </div>
      
        <button mat-raised-button type="submit" class="registerButton" [disabled]="voterForm.invalid">Register</button>
      </form>
      
</div>